<style>
.padding{
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.color{
	color: white;
    font-family: sansserif;
}
</style>
<div class="container">
  <h4 class="left-align">Services</h4>   
  <div class="row"> 
	  <div class="row center-align deep-purple accent-4 padding z-depth-2">
	    <div class="col s4 m2  ">
	      <a href="/key-concepts/smartautomation">
	        <img src="assets/services/a1.png">
	        <p class="color">Smart Automation</p>
	      </a>
	    </div>
	    <div class="col s4 m2 ">
	      <a href="/key-concepts/ai">
	        <img src="assets/services/a2.png">
	        <p class="color">Artificial Intelligence</p>
	      </a>
	    </div>
	    <div class="col s4 m2 ">
	      <a href="/key-concepts/agile">
	        <img src="assets/services/a3.png">
	        <p class="color">Speed and Agility</p>
	      </a>
	    </div>      
	    <div class="col s5 m2 ">
	      <a href="/key-concepts/collaborative">
	        <img src="assets/services/a4.png">
	        <p class="color">Collaborative</p>
	      </a>
	    </div>
	    <div class="col s5 m2 ">
	      <a href="/key-concepts/integration">
	        <img src="assets/services/a5.png">
	        <p class="color">Integration</p>
	      </a>
	    </div>
	    <div class="col s5 m2 ">
	      <a href="/key-concepts/integration">
	        <img src="assets/services/a6.png">
	        <p class="color">Integration</p>
	      </a>
	    </div>
	  </div>  
	  <div class="row center-align deep-purple accent-4 padding z-depth-2">
	    <div class="col s4 m2  ">
	      <a href="/key-concepts/smartautomation">
	        <img src="assets/services/b1.png">
	        <p class="color">Smart Automation</p>
	      </a>
	    </div>
	    <div class="col s4 m2 ">
	      <a href="/key-concepts/ai">
	        <img src="assets/services/b2.png">
	        <p class="color">Artificial Intelligence</p>
	      </a>
	    </div>
	    <div class="col s4 m2 ">
	      <a href="/key-concepts/agile">
	        <img src="assets/services/b3.png">
	        <p class="color">Speed and Agility</p>
	      </a>
	    </div>      
	    <div class="col s5 m2 ">
	      <a href="/key-concepts/collaborative">
	        <img src="assets/services/b4.png">
	        <p class="color">Collaborative</p>
	      </a>
	    </div>
	    <div class="col s5 m2 ">
	      <a href="/key-concepts/integration">
	        <img src="assets/services/b5.png">
	        <p class="color">Integration</p>
	      </a>
	    </div>
	    <div class="col s5 m2 ">
	      <a href="/key-concepts/integration">
	        <img src="assets/services/b6.png">
	        <p class="color">Integration</p>
	      </a>
	    </div>
	  </div>  
	  <div class="row center-align deep-purple accent-4 padding z-depth-2">
	    <div class="col s4 m2  ">
	      <a href="/key-concepts/smartautomation">
	        <img src="assets/services/c1.png">
	        <p class="color">Smart Automation</p>
	      </a>
	    </div>
	    <div class="col s4 m2 ">
	      <a href="/key-concepts/ai">
	        <img src="assets/services/c2.png">
	        <p class="color">Artificial Intelligence</p>
	      </a>
	    </div>
	    <div class="col s4 m2 ">
	      <a href="/key-concepts/agile">
	        <img src="assets/services/c3.png">
	        <p class="color">Speed and Agility</p>
	      </a>
	    </div>      
	    <div class="col s5 m2 ">
	      <a href="/key-concepts/collaborative">
	        <img src="assets/services/c4.png">
	        <p class="color">Collaborative</p>
	      </a>
	    </div>
	    <div class="col s5 m2 ">
	      <a href="/key-concepts/integration">
	        <img src="assets/services/c5.png">
	        <p class="color">Integration</p>
	      </a>
	    </div>
	    <div class="col s5 m2 ">
	      <a href="/key-concepts/integration">
	        <img src="assets/services/c6.png">
	        <p class="color">Integration</p>
	      </a>
	    </div>
	  </div>  
	  <div class="row center-align deep-purple accent-4 padding z-depth-2">
	    <div class="col s4 m2  ">
	      <a href="/key-concepts/smartautomation">
	        <img src="assets/services/d1.png">
	        <p class="color">Smart Automation</p>
	      </a>
	    </div>
	    <div class="col s4 m2 ">
	      <a href="/key-concepts/ai">
	        <img src="assets/services/d2.png">
	        <p class="color">Artificial Intelligence</p>
	      </a>
	    </div>
	    <div class="col s4 m2 ">
	      <a href="/key-concepts/agile">
	        <img src="assets/services/d3.png">
	        <p class="color">Speed and Agility</p>
	      </a>
	    </div>      
	    <div class="col s5 m2 ">
	      <a href="/key-concepts/collaborative">
	        <img src="assets/services/d4.png">
	        <p class="color">Collaborative</p>
	      </a>
	    </div>
	    <div class="col s5 m2 ">
	      <a href="/key-concepts/integration">
	        <img src="assets/services/d5.png">
	        <p class="color">Integration</p>
	      </a>
	    </div>
	    <div class="col s5 m2 ">
	      <a href="/key-concepts/integration">
	        <img src="assets/services/d6.png">
	        <p class="color">Integration</p>
	      </a>
	    </div>
	  </div>  
</div>
</div>