<h1>Reviews</h1>
<div class="container">
   <div class="row" style="padding:0px;">
          <div class="col s12 m6 l6 " style="padding:0px;">
            <div class="card ">
              <div class="card-action z-depth-1">
                <div class = "row">
<div class="col l6">
                <div class="chip blue">
                  5.0
                   <i class="close material-icons">grade</i>
                </div>
              </div>
<div class="col l6">
                <div class="chip">
                  <span>x.o out of 5 stars</span><br>
                   3 Reviews
                </div>
              </div>
            </div>

              </div>
              <div class="card-content">
                <div class="row">
                  <div class="col l6">
                      <p> 5 start</p>
                  </div>
                  <div class="col l6">
                    <div class="progress">
                        <div class="determinate" style="width: 100%"></div>
                    </div>
                  </div>
                </div>
                  <div class="row">
                  <div class="col l6">
                      <p> 4 start</p>
                  </div>
                  <div class="col l6">
                    <div class="progress">
                        <div class="determinate" style="width: 70%"></div>
                    </div>
                  </div>
                </div>
                  <div class="row">
                  <div class="col l6">
                      <p> 3 start</p>
                  </div>
                  <div class="col l6">
                    <div class="progress">
                        <div class="determinate" style="width: 50%"></div>
                    </div>
                  </div>
                </div>
                  <div class="row">
                  <div class="col l6">
                      <p> 2 start</p>
                  </div>
                  <div class="col l6">
                    <div class="progress">
                        <div class="determinate" style="width: 30%"></div>
                    </div>
                  </div>
                </div>
                  <div class="row">
                  <div class="col l6">
                      <p> 1 start</p>
                  </div>
                  <div class="col l6">
                    <div class="progress">
                        <div class="determinate" style="width: 10%"></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col s12 m6 l6" style="padding:0px;">
              <img src="assets/mile/facebook.png">
              <div class="card  darken-1">
                <div class="card-content ">
                  <div class="chip">
                    <img src="assets/yuna.jpg" alt="Contact Person">
                    Jane Doe
                  </div>
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a><i class="material-icons ">thumb_up</i></a>
                  <a><i class="material-icons ">question_answer</i></a>
                  <a><i class="material-icons ">share</i></a>
                </div>
              </div>
          </div>
  </div>

     <div class="row" style="padding:0px;">
          <div class="col s12 m6 l6 " style="padding:0px;">
            <div class="card  darken-1">
              <div class="card-action">
                <span class="card-title">Reviews</span><br>
                    <i class="material-icons ">grade</i>
                    <i class="material-icons ">grade</i>
                    <i class="material-icons ">grade</i>
                    <i class="material-icons ">grade</i>
                    <i class="material-icons ">grade</i>
              </div>
              <div class="card-content ">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                 <div class="chip">
                  <img src="assets/yuna.jpg" alt="Contact Person">
                  Jane Doe
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6" style="padding:0px;">
                <img src="assets/google.png">
              <div class="card ">
                <div class="card-content">
                    <span class="card-title">Reviews</span>
                    <i class="material-icons ">grade</i>
                    <i class="material-icons ">grade</i>
                    <i class="material-icons ">grade</i>
                    <i class="material-icons ">grade</i>
                    <i class="material-icons ">grade</i>
              </div>
          </div>
  </div>

</div>
</div>


  <div class="container">
    <h1>Trips</h1>
<div class="row">
<% (0..2).each do |i| %>
        <div class="col s12 m7 l4">
          <div class="card">
            <div class="card-image">
              <img src="assets/hills.jpg">
              <span class="card-title">Card Title</span>
            </div>
          </div>
        </div>
        <div class="col s12 m7 l4">
          <div class="card">
            <div class="card-image">
              <img src="assets/hills.jpg">
              <span class="card-title">Card Title</span>
            </div>
          </div>
        </div>
        <div class="col s12 m7 l4">
          <div class="card">
            <div class="card-image">
              <img src="assets/hills.jpg">
              <span class="card-title">Card Title</span>
            </div>
          </div>
        </div>
        <% end %>
  </div>
<div class="row">
  <div class="col offset-l5">
  <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
  </div>
</div>
</div>