<style>




element.style {
}

.card .card-image {
    position: relative;
}
.waves-block {
    display: block;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
}
*, *:before, *:after {
    box-sizing: inherit;
}
user agent stylesheetdiv {
    display: block;
}
Inherited from html
@media only screen and (min-width: 1200px)
html {
    font-size: 15px;
}
@media only screen and (min-width: 992px)
html {
    font-size: 14.5px;
}
@media only screen and (min-width: 0)
html {
    font-size: 14px;
}
html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif !important;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}
@media only screen and (min-width: 1200px)
html {
    font-size: 15px;
}
@media only screen and (min-width: 992px)
html {
    font-size: 14.5px;
}
@media only screen and (min-width: 0)
html {
    font-size: 14px;
}
html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
@media only screen and (min-width: 1200px)
html {
    font-size: 15px;
}
@media only screen and (min-width: 992px)
html {
    font-size: 14.5px;
}
@media only screen and (min-width: 0)
html {
    font-size: 14px;
}
html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif !important;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}
Pseudo ::before element
*, *:before, *:after {
    box-sizing: inherit;
}
Pseudo ::after element
*, *:before, *:after {
    box-sizing: inherit;
}
</style>
<div class="row">
<div class="col s12 m6 l6">
                  <div class="card-panel">
                    <h4 class="header2">Contact Us </h4>
                    <p>We Would love to hear you.</p>
                    <div class="row">
                      <form class="formValidate" id="formValidate" method="get" action="" novalidate="novalidate">
                        <div class="row">
                          <div class="input-field col s12">
                            <label for="uname" class="">Name*</label>
                            <input id="uname" name="uname" type="text" data-error=".errorTxt1" aria-required="true" class="error" aria-describedby="uname-error" aria-invalid="true">
                            <div class="errorTxt1"><div id="uname-error" class="error">Enter name</div></div>
                          </div>
                          <div class="input-field col s12">
                            <label for="cemail" class="">E-Mail *</label>
                            <input id="cemail" type="email" name="cemail" data-error=".errorTxt2" aria-required="true" class="error" aria-describedby="cemail-error">
                            <div class="errorTxt2"><div id="cemail-error" class="error">This field is required.</div></div>
                          </div>
                          <div class="input-field col s12">
                            <label for="password" class="">Phone*</label>
                            <input id="password" type="password" name="password" data-error=".errorTxt3" aria-required="true" class="error" aria-describedby="password-error">
                            <div class="errorTxt3"><div id="password-error" class="error">This field is required.</div></div>
                          </div>
                          <div class="input-field col s12">
                            <textarea id="ccomment" name="ccomment" class="materialize-textarea validate error" data-error=".errorTxt7" aria-required="true" aria-describedby="ccomment-error"></textarea>
                            <label for="ccomment">Additional Information *</label>
                            <div class="errorTxt7"><div id="ccomment-error" class="error">This field is required.</div></div>
                          </div>
                          <div class="input-field col s12">
                            <button class="btn waves-effect waves-light right submit" type="submit" name="action">Submit
                              <i class="material-icons right">send</i>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
	<div class="col s6 m12 l6">
	   <div class="map-card">
	       <div class="card">
	           <div class="card-image waves-effect waves-block waves-light">
                    <div id="googleMap" style="width:100%;height:400px;"></div>
	                   <div class="card-content">
	                        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
	                          <i class="material-icons">pin_drop</i>
	                        </a>
	                        <h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Company Name LLC</a>
	                        </h4>
	                   </div>
	                   <div class="card">
	                        <p>Here is some more information about this company. As a creative studio we believe no client is too big nor too small to work with us to obtain good advantage.By combining the creativity of artists with the precision of engineers we develop custom solutions that achieve results.Some more information about this company.</p>
	                        <p>
	                          <i class="material-icons cyan-text text-darken-2">perm_identity</i> Manager Name</p>
	                        <p>
	                          <i class="material-icons cyan-text text-darken-2">business</i> 125, ABC Street, New Yourk, USA</p>
	                        <p>
	                          <i class="material-icons cyan-text text-darken-2">perm_phone_msg</i> +1 (612) 222 8989</p>
	                        <p>
	                          <i class="material-icons cyan-text text-darken-2">email</i> support@pixinvent.com</p>
	                   </div>
	           </div>
	       </div>
	</div>
</div>

<script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}

$("#formValidate").validate({
    rules: {
        uname: {
            required: true,
            minlength: 5
        },
        cemail: {
            required: true,
            email:true
        },
        password: {
    required: true,
    minlength: 5
  },
  cpassword: {
    required: true,
    minlength: 5,
    equalTo: "#password"
  },
  curl: {
            required: true,
            url:true
        },
        crole:"required",
        ccomment: {
    required: true,
    minlength: 15
        },
        cgender:"required",
  cagree:"required",
    },
    //For custom messages
    messages: {
        uname:{
            required: "Enter a username",
            minlength: "Enter at least 5 characters"
        },
        curl: "Enter your website",
    },
    errorElement : 'div',
    errorPlacement: function(error, element) {
      var placement = $(element).data('error');
      if (placement) {
        $(placement).append(error)
      } else {
        error.insertAfter(element);
      }
    }
 });
</script>