
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <div class="card horizontal">
          <div class="card-image width-65">
            <img src="assets/hills.jpg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Card Title</h5>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                <br>
                <br>Packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                <br>Web page editors now use Lorem Ipsum as their default.
              </p>
            </div>
            <div class="card-action border-none">
            <a href="/" target="_blanck" class="btn waves-effect waves-light gradient-45deg-red-pink z-depth-5 btn-large">Go</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
