<style>
  .bg-image-1 {
      background-image: url(assets/bk.png);
      width: 100%;
      height: 100%;
      background-size: cover;
  }
</style>
  <div class="row">
        <div class="col s12 m12 l6">
          <div class="card">
            <div class="card-image z-depth-3">
              <img src="assets/hills.jpg">
              <span class="card-title">Card Title</span>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="card darken-4 bg-image-1">
              <div class="card-content" style="padding: 109px;">
                <span class="card-title font-weight-400 mb-10">Macbook Pro</span>
                  <p>Buy Macbook
                  <br> online Huge selection of Apple</p>
                  <div class="border-non mt-5">
                  <a class="waves-effect waves-light btn red border-round box-shadow">$ 1,249/-</a>
                </div>
              </div>
            </div>
        </div>
  </div>