<div class="row">
        <div class="col s12 m12 l4">
          <div class="card z-depth-5">
            <div class="card-image">
              <img src="assets/mile/vision_logo.png">
              <span class="card-title">About US</span>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="card z-depth-5">
            <div class="card-image">
              <img src="assets/mile/vision.png">
              <span class="card-title">Mission</span>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="card z-depth-5">
            <div class="card-image">
              <img src="assets/mile/vision_logo.png">
              <span class="card-title">Vision</span>
            </div>
          </div>
        </div>
</div>