
<div class="row">
<div class="col s12 m6 l4">
<!--           <div class="card1 border-radius-6 min-height-250 waves-effect waves-light gradient-45deg-red-pink z-depth-5 "> -->
            <div class="card1 border-radius-6 min-height-250 waves-effect waves-light  z-depth-5 ">
            <div class="card-content center vertical-align-center white blue-grey-text text-darken-3 mt-3 pt-4">
              <h3 class="lighten-4 mt-0 mb-0 pt-1"><i class="material-icons large">group</i></h3>
              <h5 class="lighten-4">OUR TEAM</h5>
              <p class="lighten-4 mb-4">Google Material Design Inspired UI with gradient colors, responsive design and amazing support are the reasons our customers have fallen in love.</p>
            </div>
          </div>
        </div>

<div class="col s12 m6 l4">
          <div class="card1 border-radius-6 min-height-250 waves-effect waves-light gradient-45deg-purple-pink z-depth-5">
          <!-- <div class="card1 border-radius-6 min-height-250 waves-effect waves-light  z-depth-5"> -->
            <div class="card-content center vertical-align-center white blue-grey-text text-darken-3 mt-3 pt-4">
              <h3 class="lighten-4 mt-0 mb-0 pt-1"><i class="material-icons large">flash_on</i></h3>
              <h5 class="lighten-4">VISION</h5>
              <p class="lighten-4 mb-4">Google Material Design Inspired UI with gradient colors, responsive design and amazing support are the reasons our customers have fallen in love.</p>
            </div>
          </div>
        </div>

<div class="col s12 m6 l4">
          <div class="card1 border-radius-6 min-height-250  z-depth-3">
            <div class="card-content center vertical-align-center white blue-grey-text text-darken-3 mt-3 pt-4">
              <h3 class="lighten-4 mt-0 mb-0 pt-1"><i class="material-icons large">settings</i></h3>
              <h5 class="lighten-4">MISSION</h5>
              <p class="lighten-4 mb-4">Google Material Design Inspired UI with gradient colors, responsive design and amazing support are the reasons our customers have fallen in love.</p>
            </div>
          </div>
        </div>
</div>