			<div class="slider">
    <ul class="slides">
      <li>
        <img src="assets/img_1.jpeg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome to Mileandasmile!</h3>
          <h5 class="light grey-text text-lighten-3">Connect: Access the world's richest content offer & create personalised travel</h5>
        </div>
      </li>
      <li>
        <img src="assets/img_2.jpeg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Welcome to Mileandasmile</h3>
          <h5 class="light grey-text text-lighten-3">Differentiate yourself & provide great customer service by enhancing the customer experience. </h5>
        </div>
      </li>
      <li>
        <img src="assets/img_3.jpeg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Welcome to Mileandasmile</h3>
          <h5 class="light grey-text text-lighten-3">In order to do so, you need to have the widest and most accurate content choice to offer to your customers. </h5>
        </div>
      </li>
      <li>
        <img src="assets/img_7.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome to Mileandasmile</h3>
          <h5 class="light grey-text text-lighten-3">To help you in this challenging task, Amadeus gives you access to a vast and diverse world of global, regional and local travel content covering both business and leisure travel needs with the detailed information about the content that is being booked.</h5>
        </div>
      </li>
            <li>
        <img src="assets/img_5.jpeg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Wherever you are</h3>
          <h5 class="light grey-text text-lighten-3">In order to do so, you need to have the widest and most accurate content choice to offer to your customers.</h5>
        </div>
      </li>
            <li>
        <img src="assets/img_6.jpeg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Wherever you are</h3>
          <h5 class="light grey-text text-lighten-3">In order to do so, you need to have the widest and most accurate content choice to offer to your customers.</h5>
        </div>
      </li>
            <li>
        <img src="assets/img_7.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Anything you need</h3>
          <h5 class="light grey-text text-lighten-3">In order to do so, you need to have the widest and most accurate content choice to offer to your customers.</h5>
        </div>
      </li>
    </ul>
  </div>