<div class="row">
  <div class="col m12 s12 l12">
<div class="carousel carousel-slider left" data-indicators="true">
    <div class="carousel-fixed-item left">
                <div class="col s12 m12 l6">
                  <div class="card transparent">
                    <div class="card-content white-text">
                      <span class="card-title">Let us plan your travel in few steps</span>
                        <!-- Modal Trigger -->
                          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Go</a>
                    </div>
                  </div>
                </div>
    </div>
    <div class="carousel-item red white-text" href="#one!">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="assets/img_2.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome to Mile and a smile!</h3>
          <h5 class="light grey-text text-lighten-3">This is “True Convergence” for the Travel Industry.</h5>
        </div>
      </li>
      <li>
        <img src="assets/img_3.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Maximizing the value of your dreams</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="assets/img_7.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="assets/img_5.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
            <li>
        <img src="assets/img_6.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
            <li>
        <img src="assets/img_1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
    </ul>
</div>   
    </div>
  </div>
</div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Type of your Travel</h4>
    <i class="small material-icons">directions_bus</i>
    <i class="small material-icons">favorite_border</i>
    <i class="small material-icons">face</i>
    <i class="small material-icons">domain</i><br>
    <i class="small material-icons">add_alert</i>
    <i class="small material-icons">add_circle_outline</i>
    <i class="small material-icons">airline_seat_flat</i>
    <i class="small material-icons">group</i>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    <a href="#!" class="btn waves-effect waves-teal">Send</a>
  </div>
</div>







