
<div class= "row">
<div class="carousel carousel-slider center hoverable" data-indicators="true">
<!--     <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div> -->

    <div class="carousel-fixed-item right">
    	    <!-- <div class="col offset-l2"> -->
      			<a href="#!" class="brand-logo"><img src="assets/images.png"></a>
    		<!-- </div> -->
	</div>


    <div class="carousel-item purple accent-4" href="#one!">
      <img src="assets/purple.jpg">
     <!--  <a href="#!" class="brand-logo"><img src="assets/materialize-logo.png"></a> -->
    </div>
 </div>
</div>