
<div class= "row">
<div class="carousel carousel-slider center" data-indicators="true">
<!--     <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div> -->

<!--     <div class="carousel-fixed-item">
    	    <div class="col">
      			<a href="#!" class="brand-logo"><img src="assets/mile/logo_and_text.png"></a>
    		</div>
	</div> -->
  <div class="carousel-fixed-item">
          <div class="col">
            <a class="brand-logo"><img src="assets/mile/logo_img.png"></a>
        </div>
  </div>
    <div class="carousel-fixed-item">
          <div class="col">
            <a class="brand-logo"><img src="assets/mile/1st_text.png"></a>
        </div>
  </div>
      <div class="carousel-fixed-item">
          <div class="col">
            <a class="brand-logo"><img src="assets/mile/2nd_text.png"></a>
        </div>
  </div>
      <div class="carousel-fixed-item">
          <div class="col">
            <a class="brand-logo"><img src="assets/mile/horizontal_line.png"></a>
        </div>
  </div>
        <div class="carousel-fixed-item">
          <div class="col">
            <a class="brand-logo"><img src="assets/mile/line.png"></a>
        </div>
  </div>
    <div class="carousel-item ">
      <img src="assets/mile/main_slide.png">
     <!--  <a href="#!" class="brand-logo"><img src="assets/materialize-logo.png"></a> -->
    </div>
    
 </div>
</div>
