
<div class= "row">
<div class="carousel carousel-slider center" data-indicators="true">
<!--     <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div> -->

    <div class="carousel-fixed-item">
    	    <div class="col offset-l2">
      			<a href="#!" class="brand-logo"><img src="assets/images.png"></a>
    		</div>
	</div>
    <div class="carousel-fixed-item">
     	    <div class="col offset-l4">
      			<a href="#!" class="brand-logo"><img src="assets/vertical-line.png"></a>
    		</div>
	</div>

    <div class="carousel-item  indigo darken-1" href="#one!">
      <!-- <img src="assets/purple.jpg"> -->
     <!--  <a href="#!" class="brand-logo"><img src="assets/materialize-logo.png"></a> -->
    </div>
    
    <div class="carousel-item  indigo darken-1" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
 </div>
</div>